/*
 * Masthead for nav
 */

.blog-masthead {
    background-color: #595959;
    -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
    position: relative;
    display: inline-block;
    padding: 10px;
    font-weight: 500;
    color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
    color: #fff;
    text-decoration: none;
}

.blog-nav .active {
    color: #fff;
}
.blog-nav .active:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    vertical-align: middle;
    content: " ";
    border-right: 5px solid transparent;
    border-bottom: 5px solid;
    border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid;
    background-color: #f5f5f5;
}
.blog-title {
    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: normal;
}
.blog-description {
    padding-left: 20px;
    font-size: 20px;
    color: #999;
}

/*
* Blog main and articles
*/

.blog-main {
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
    background-color: #f5f5f5;
}

.blog-post {
    border-bottom: solid 2px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.blog-post-title {
    color: #333333;
    text-decoration: none;
    margin-bottom: 5px;
    font-size: 40px;
}
.blog-post-meta {
    margin-bottom: 20px;
    color: #999;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.comments{
    margin-top: 20px;
}

.comment-meta {
    color: #999;
}



.ajax-loader-gif {
    display: none;
    margin-left: 50%;
}

.load-more-btn{
    margin-left: 40%;
}


.no-more-error{
    display: none;
    color: #999999;
    margin-left: 40%;
}

iframe{
    width: 100%;
    height: 315px;
}
/*
*Single post and comment section
*/

.write-comment-span{
    padding: 0px 10px 0px 10px;
    border: solid 1px;
    color: #1b6d85;
    cursor: pointer;
}

.new-comment-wrapper{
    display: none;
}

.single-comment :nth-child(even){
    background-color: #eee;
}

.single-comment{
    border-bottom: solid 1px;
    margin-top: 20px;
}
/*
* Signup form
*/

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading{
  margin-bottom: 10px;
}
.form-signin{
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/*
*admin canvas charts and admin panels
*/
canvas{
    margin-top: 20px;
    border: solid 1px;
    width: 100%;
    height: 100%;
}

.manage-posts, .top-posts-tags{
    margin-top: 20px;
    border-top: solid 1px;
}

.admin-post-list{
    font-size: 18px;
    font-weight: normal;
}



.adm-manage-post-btn{
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.admin-posted-by{
    font-size: 12px;
    color:  #c7c7c7;
}

.edit-admin-btn, .disable-admin-btn{
    padding-top: 0px;
    padding-bottom: 0px;
}

/* READ MORE BUTTON */
.maxlist-more {
    padding-left: 26px;
    font-weight: bold;
}

.maxlist-more a {
    text-decoration:none;
    border-bottom: 1px dotted #67afca;
    color: #67afca;
}

.maxlist-more a:hover {
    text-decoration:none;
    border-color: #5591aa;
    color: #5591aa;
}

/*
*NEW POST
*/

.newpost-textarea{
    margin-bottom: 20px;
    margin-top: 20px;
}

.newpost-submit-btn{
    margin-top: 23px;
}
/*
 * Footer
 */

.blog-footer {
    margin-top: 20px;
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid;
}
