{% extends "base.html" %}

{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Data Charts</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <canvas id="barChart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <canvas id="pieChart" width="400" height="400"></canvas>
    </div>
</div>
<div class="row manage-posts">
    <div class="col-md-4 col-md-offset-4">
        <h2>Manage posts</h2>
    </div>
    <div class="col-md-8">
        <ul id="manage-post-list list-group">
            {% for post in posts %}
            <li class="admin-post-list list-group-item">{{ post.title }}
                <span  class="admin-posted-by"><em>posted by {{ post.user }}</em></span>
                <div class="btn-group adm-manage-post-btn">
                    <button type="submit" class="btn btn-primary edit-admin-btn">Edit</button>
                    <button type="submit" class="btn btn-default disable-admin-btn">Disable</button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row top-posts-tags">
    <div class="col-md-4 col-md-offset-4">
        <h2>Top Posts and Tags</h2>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered top-posts-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>User</th>
                    <th>comments</th>
                </tr>
            </thead>
            <tbody>
            {% for top_post in top_posts %}
                <tr>
                    <td>
                        <span class="top_post_number">1</span>
                    </td>
                    <td>
                        {{ top_post[0].title }}
                    </td>
                    <td>
                        {{ top_post[0].user }}
                    </td>
                    <td>
                        {{ top_post[0].comments_count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered top-tags-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tag</th>
                    <th>comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        tag
                    </td>
                    <td>
                        number of comments
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        tag
                    </td>
                    <td>
                        number of comments
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="static/js/hideMaxListItem-min.js"></script>
<script src="static/js/admin.js"></script>
{% endblock %}