{% extends "base.html" %}

{% block link %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.min.js"></script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Data Charts</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label for="barChart">Number of posts by category</label>
        <canvas id="barChart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-4">
        <label for="pieChart">Number of comments by category</label>
        <canvas id="pieChart" width="400" height="400"></canvas>
    </div>
</div>
<div class="row manage-posts">
    <div class="col-md-4 col-md-offset-4">
        <h2>Manage posts</h2>
    </div>
    <div class="col-md-12">
        <nav class="manage-posts-nav">
            <ul id="manage-post-list list-group">
                {% for post in posts %}
                <li class="admin-post-list list-group-item"><a  href="/{{post.key().id()}}">{{ post.title }}</a>
                    <div class="btn-group adm-manage-post-btn">
                        <form action="/edit" method="get">
                            <input type="hidden" class="enable-disable-post-id" value="{{ post.key().id() }}">
                            <button type="submit" class="btn btn-primary edit-admin-btn" name="post_id" value="{{ post.key().id() }}" formaction="/edit" formmethod="get">Edit</button>

                            {% if post.enabled %}
                                <button type="button" class="btn btn-default disable-admin-btn">Disable</button>
                            {% else %}
                                <button type="button" class="btn btn-default disable-admin-btn">Enable</button>
                        {% endif %}
                        </form>
                    </div>
                    <span  class="admin-posted-by"><em>posted by {{ post.user }}</em></span>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>
<div class="row top-posts-tags">
    <div class="col-md-4 col-md-offset-4">
        <h2>Top Posts and Categories</h2>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered top-posts-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Post Title</th>
                    <th>Created by</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
            {% for top_post in top_posts %}
                <tr>
                    <td>
                        <span class="top_post_number">1</span>
                    </td>
                    <td>
                        <a href="/{{top_post[0].id}}">{{ top_post[0].title }}</a>
                    </td>
                    <td>
                        {{ top_post[0].user }}
                    </td>
                    <td>
                        {{ top_post[0].comments_count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table table-bordered top-tags-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Category</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
            {% for top_category in top_categories %}
                <tr class="top-categories-row">
                    <td>
                        <span class="top_categories_number">1</span>
                    </td>
                    <td class="top-categories-category">
                        {{ top_category.category }}
                    </td>
                    <td class="top-categories-comments">
                       {{ top_category.comments_count }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="static/js/hideMaxListItem-min.js"></script>
<script src="static/js/admin.js"></script>
{% endblock %}