{% extends "base.html" %}
{% block content%}
<div class="col-md-8 blog-main">
    <div class="posts-wrapper">
        {% for entry in post_data %}
        <article class="blog-post">
            <a href="/{{entry.id}}"><h2 class="blog-post-title">{{ entry.title }}</h2></a>
            <!--<h2 class="blog-post-title">{{ entry.title }}</h2>-->
            <p class="blog-post-meta">{{ entry.date }} by {{ entry.user }} | <i class="fa fa-tag" aria-hidden="true"> {{ entry.category }}</i></p>
            <div class="blog-post-body more">
                {{ entry.content | safe }}
            </div>
            <a href="/{{entry.id}}"><i class="fa fa-comments blog-post-comment" aria-hidden="true"><span class="comment-num"> {{ entry.comments_count }} </span>comments</i></a>
        </article>
        {% endfor %}
    </div>
    <div class="load-more-posts">
        <p class="no-more-error">No more posts to show</p>
        <button type="button" class="btn btn-primary btn-lg load-more-btn">Load more posts</button>
        <img class="ajax-loader-gif" src="static/images/ajax_loader_gray_32.gif" alt="load more posts">
    </div>
</div>
{% endblock %}