{% extends "base.html" %}
{% block content%}
<div class="col-m-8 blog-main">
    <article class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
        <div class="blog-post-body more">
            This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
        </div>
        <a href="#"><i class="fa fa-comments blog-post-comment" aria-hidden="true"><span class="comment-num"> 0 </span>comments</i></a>
    </article>

    <article class="blog-post">
        <h2 class="blog-post-title">Sample blog post</h2>
        <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
        <div class="blog-post-body more">
            This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
            <br><br>
            This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
            <br><br>
            This blog post shows a few different types of content that's supported and styled with Bootstrap. Basic typography, images, and code are all supported.
        </div>
            <a href="#"><i class="fa fa-comments blog-post-comment" aria-hidden="true"><span class="comment-num"> 0 </span>comments</i></a>
    </article>
</div>
{% endblock %}