{% extends "base.html" %}

{% block content %}
<div class="row">
    <form action="/newpost" method="post" >
    <div class="col-m-8">
        <h2>Create New Post</h2>
        <div class="form-group">
            <div class="newpost-title-wrapper has-feedback">
                <label for="newpost-title" class="control-label">Title</label>
                <input type="text" name="title" class="form-control" id="newpost-title" placeholder="Title" required autofocus>
                <span class="glyphicon form-control-feedback"></span>
            </div>
            <textarea name="content"  id="post-content" class="form-control newpost-textarea"  rows="10" placeholder="Content of your posts" required></textarea>
            <div class="col-xs-4">
                <label for="select-category">Category</label>
                <select class="select-category-box form-control" name="category" id="select-category" required>
                    <option value="random">Random</option>
                    <option value="music">Music</option>
                    <option value="science">Science</option>
                    <option value="technology">Technology</option>
                    <option value="funny">Funny</option>
                </select>
            </div>
            <input type="hidden" name="hidden-username" value="{{ username }}">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-default newpost-submit-btn">Submit</button>
            </div>
        </div>
    </div>
    </form>
</div>


{% endblock %}



